@font-face {
  font-family: 'monumentValley';
  src: url('./Monument.otf');
  font-weight:normal;
  font-style:normal;
}
body {
 background-color: #88D498 !important;
}
h2{
  font-family:'monumentValley';
  color:#000000;
  padding:10px;
  font-size:150px;
}
h3{
  font-family:'monumentValley';
  color:#000000;
  padding:10px;
  font-size:80px;
}
h4{
font-family:'monumentValley';
color:#000000;
padding:10px;
font-size:30px;
}
.cont1 {
  margin-left:auto;
  margin-right:auto;
  margin-top:60;
  max-width: 300px;
}
